[submodule "instrumentation/objsim"]
	path = instrumentation/objsim
	url = git@github.com:amordahl/objsim.git
[submodule "fuzzing/checkmate"]
	path = fuzzing/checkmate
	url = git@github.com:amordahl/checkmate.git
